:root {
    --white-color: #fff!important;
    --border-btn-color: #316CE2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.btn {
    max-width: 200px;
    min-width: 146px;
    height: 60px;
    border: 1px solid var(--border-btn-color);
    background-color: #010A18;
    color: var(--border-btn-color);
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--border-btn-color);
    color: var(--white-color);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.col {
    width: 80%;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 48%;
}

.col-third {
    width: calc(90% / 3);
}

.no-border-radius {
    border-radius: none;
}

.m-auto {
    margin: auto;
}

.mr-10 {
    margin-right: 10px;
}

.m-10 {
    margin: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes appear {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(black, black, black, 0.6);
    }
}