#main {
    background-image: linear-gradient(to bottom, #01010D, #010C1B);
    /* background-image: linear-gradient(to bottom, #a1a1ff, #ffffff); */
}

#header {
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    position: fixed;
    z-index: 1;
    background-color: #01020F;
}

.header__menu {}

.menu-icon-btn {
    float: left;
    display: none;
}

.menu-icon {
    color: var(--white-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 74px;
}

.header__my-name {
    /* height: 74px; */
    display: inline-block;
    text-align: center;
    margin: 0 106px;
}

.header__my-name-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 74px;
    padding: 5px 22px;
}

.header__navbar {
    display: inline-block;
}

.header__navbar--menu {
    list-style: none;
}

.header__navbar--item {
    margin: 0 20px;
    display: inline-block;
    text-align: center;
}

.header__navbar--item:hover .header__navbar--item-link {
    color: #F07F81;
    font-weight: 600;
    transform: scale(1.15);
    transform-origin: center;
}

.header__navbar--item-link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    min-width: 80px;
    line-height: 74px;
}


/* start slider */

#slider {
    position: relative;
    margin-top: 74px;
    /* padding-top: 50%; */
}

.content__selection {
    width: 100%;
    padding: 74px 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    margin: 0 auto;
}

.header__content-img {
    width: 220px;
    border: 3px solid #3F1D39;
    border-radius: 50%;
    display: block;
    margin: 0 auto 40px;
    position: relative;
}

.header__content-img-my-img {
    width: 100%;
    border-radius: 50%;
}

.header__content-detail {
    text-align: center;
}

.header__content-desc {
    color: var(--white-color);
    font-size: 28px;
    position: relative;
}

.header__content-my-name {
    color: var(--white-color);
    font-size: 72px;
    font-weight: 700;
    margin: 16px 0 46px;
}

.header__go-down {
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.header__go-down-link {
    /* display: flex;
    flex-direction: column; */
}

.header__go-down-link a {
    text-decoration: none;
    color: var(--white-color);
}

.header__go-down span {
    display: block;
    margin: 20px 0 18px 0;
}

.header__go-down-icon {
    font-size: 32px;
}


/* Start about */

#about {
    position: relative;
}

.about__content {
    margin: 0 74px 74px;
}

.content__selection-heading {
    width: 100%;
    color: var(--white-color);
    text-align: center;
    padding: 74px 0;
    margin-bottom: 100px;
    position: relative;
}

.content__selection-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.97;
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 34px;
}

.content__selection-title-background-text {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    top: 0;
}

.content__selection-title-background {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
    font-size: 112px;
    font-weight: 700;
}

.content__selection-desc {
    margin-top: 24px;
    font-size: 16px;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    bottom: -12px;
}

.about__info-content {
    color: var(--white-color);
    display: flex;
    margin: 38px 0;
}

.about__info-content-left {
    flex: 3;
}

.about__info-content-right {
    flex: 1;
}

.about__info-body-title {
    font-size: 26px;
    font-weight: 500;
    opacity: 0.95;
}

.about__info-body-desc {
    font-size: 18px;
    color: #B5B5B5;
    line-height: 22px;
    margin: 36px 0;
}

.about__info-my-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.about__info-my-info-box {
    width: 50%;
    font-size: 18px;
    margin: 0 0 16px 0;
}

.about__info-my-info-label {
    margin-right: 16px;
}

.about__info-my-info-label+span {
    color: #B5B5B5;
}

.about__img {
    border-radius: 50%;
    border: 3px solid #3F1D39;
}

.about__img-my-img {
    width: 100%;
    border-radius: 50%;
}

.about__info-footer {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    /* padding-bottom: 74px; */
}

.about__info-footer-btn-download {
    margin: 0 184px 0 190px;
    width: 200px;
}

.about__info-social-network {}

.social-network-link {
    text-decoration: none;
    margin: 0 6px;
    display: inline-block;
}

.social-network-link:hover .social-icon {
    background-color: var(--white-color);
    color: black;
    border: var(--white-color);
}

.social-icon {
    font-size: 22px;
    color: var(--white-color);
    border: 1px solid var(--border-btn-color);
    border-radius: 4px;
    padding: 6px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* End about */


/* Start service */

#service {
    position: relative;
}

.content-list {
    margin: 40px 178px;
}

.content-list__item {
    color: var(--white-color);
    float: left;
    position: relative;
    border: 1px solid var(--border-btn-color);
    border-radius: 10%;
}

#service .content-list__item:hover {
    box-shadow: 2px 4px var(--border-btn-color);
    /* transform: scale(1.01); */
    transform: scaleY(102%);
    transform-origin: bottom left;
    transition-duration: .2s;
}

.content-list__item-img {
    width: 100%;
    text-align: center;
    margin: 36px 0;
}

.content-list__item-icon {
    font-size: 72px;
}

.content-list__item-info {
    margin: 10px 20px;
}

.content-list__item-title {
    font-size: 26px;
    margin-bottom: 16px;
    text-align: center;
}

.content-list__item-desc {
    font-size: 18px;
    line-height: 22px;
    color: #B5B5B5;
    min-height: 80px;
    text-align: center;
}


/* End service */


/* Start portfolio */

#portfolio {
    position: relative;
}

.portfolio-content {
    /* width: 40%; */
    display: flex;
    justify-content: space-around;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border: none;
}

.portfolio-img {
    width: 100%;
    border-radius: 10%;
}

.portfolio-item+.content-list__item {
    margin: 0;
}

.portfolio__item-img {
    width: 100%;
}

.portfolio-item:hover .portfolio__item-detail {
    opacity: 0.8;
    transition: 1s;
}

.portfolio__item-detail {
    transition: 1s;
    position: absolute;
    display: flex;
    opacity: 0;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.portfolio__item-detail-title {
    font-size: 28px;
    color: var(--white-color);
    font-weight: 600;
    position: absolute;
    top: 45%;
}

.portfolio__item-detail-link {
    text-decoration: none;
    font-size: 22px;
    color: var(--white-color);
    top: 54%;
    position: absolute;
}


/* End portfolio */


/* Start resume  */

#resume {
    position: relative;
}

.resume__education {
    color: var(--white-color);
}

.education__progress {
    margin-bottom: 68px;
}

.education__progress--info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 38px;
    border-bottom: 3px solid var(--border-btn-color);
}

.education__progress-time {
    font-size: 22px;
}

.education__progress-place {
    font-size: 22px;
}

.education__progress-detail {
    font-size: 18px;
}

.education__progress--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.education__progress-skill {
    margin-bottom: 60px;
}

.education__progress-label {
    display: flex;
    justify-content: space-between;
}

.education__progress-label-title {
    margin-bottom: 10px;
}

.education__progress-label-percent {
    margin-left: 0;
}

.education__progress-skill-bar {
    background-color: #1c3667;
    height: 30%;
    width: 100%;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both;
    transition: 1s;
}

.education__progress-skill-bar-percent {
    height: 100%;
    transition: 3s;
    background-color: var(--border-btn-color);
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
}


/* End resume  */


/* Start Contact */

#contact {
    position: relative;
}

.contact__content {
    padding-bottom: 40px;
    margin: 60px auto;
}

.contact__body {
    /* width: 100%; */
    /* display: inline-flex;
    justify-content: space-around; */
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 0 0 60px 0px;
    max-width: 330px;
    width: 100%;
    color: var(--white-color);
}

.contact-icon {
    font-size: 72px;
}

.content__list-item-img {
    margin-left: 40px;
}

.content__list-item-info {
    display: inline-block;
    margin-left: 28px;
}

.content__list-item-info-title {
    font-size: 28px;
    font-weight: 600;
}

#contact .contact-item {
    border: none;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact__content-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-btn-color);
    margin-bottom: 18px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    background-color: #010B1A;
    color: var(--white-color);
}

.contact__content-input:focus {}

.contact-form .msg-input {
    height: 120px;
}

.contact-form .msg-input::placeholder {
    top: 0;
}

.btn-send {
    text-align: center;
}

.contact__body-item {
    display: flex;
    justify-content: space-around;
}

#contact .content__selection {
    padding-bottom: -124px;
}

.contact__footer {
    /* text-align: center; */
    background-color: #01020F;
    position: absolute;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact__footer-desc {
    color: var(--white-color);
}


/* End contact */