#main {
    background-image: linear-gradient(to bottom, #01010D, #010C1B);
}

#header {
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    position: relative;
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border-bottom: 2px solid var(--white-color); */
    position: fixed;
    z-index: 1;
    background-color: #01020F;
}

.header__my-name {
    height: 74px;
    flex: 3;
    text-align: center;
}

.header__my-name-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 32px;
    line-height: 74px;
}

.header__navbar {
    height: 74px;
    flex: 7;
    display: flex;
    justify-content: flex-start;
}

.header__navbar--menu {
    list-style: none;
    height: 74px;
    display: flex;
}

.header__navbar--item {
    display: flex;
    padding: 5px 22px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.header__navbar--item:hover .header__navbar--item-link {
    color: #F07F81;
    font-weight: 600;
    transform: scale(1.15);
    transform-origin: center;
}

.header__navbar--item-link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    min-width: 80px;
    line-height: 72px;
}


/* start slider */

#slider {
    position: relative;
}

.content__selection {
    width: 100%;
    height: calc(100vh - 74px);
    /* background-image: linear-gradient(to bottom, #01010D, #010C1B); */
    padding: 54px 0;
    position: relative;
}

.header__content {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__content-img {
    width: 220px;
    border: 3px solid #3F1D39;
    border-radius: 50%;
    display: block;
    margin: 0 auto 54px;
}

.header__content-img-my-img {
    width: 100%;
    border-radius: 50%;
}

.header__content-detail {
    text-align: center;
}

.header__content-desc {
    color: var(--white-color);
    font-size: 28px;
}

.header__content-my-name {
    color: var(--white-color);
    font-size: 72px;
    font-weight: 700;
    margin: 16px 0 46px;
}

.header__go-down {
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.header__go-down-link {
    /* display: flex;
    flex-direction: column; */
}

.header__go-down-link a {
    text-decoration: none;
    color: var(--white-color);
}

.header__go-down span {
    display: block;
    margin: 20px 0 18px 0;
}

.header__go-down-icon {
    font-size: 32px;
}


/* Start about */

#about {}


/* #about .about__selection {
    padding-top: 152px;
    width: 100%;
    background-color: #010C1B;
    position: relative;
} */

.content__selection-heading {
    width: 100%;
    color: var(--white-color);
    text-align: center;
    padding: 16px 0 54px;
}

.content__selection-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.97;
    position: relative;
    margin: 0;
}

.content__selection-title-background-text {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    top: 0;
}

.content__selection-title-background {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
    font-size: 112px;
    font-weight: 700;
}

.content__selection-desc {
    margin-top: 24px;
    font-size: 16px;
    opacity: 0.7;
}

.about__info-content {
    color: var(--white-color);
    display: flex;
    margin: 38px 178px 0;
}

.about__info-content-left {
    flex: 3;
}

.about__info-content-right {
    flex: 1;
}

.about__info-body-title {
    font-size: 26px;
    font-weight: 500;
    opacity: 0.95;
}

.about__info-body-desc {
    font-size: 18px;
    color: #B5B5B5;
    line-height: 22px;
    margin: 36px 0;
}

.about__info-my-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.about__info-my-info-box {
    width: 50%;
    font-size: 18px;
    margin: 0 0 16px 0;
}

.about__info-my-info-label {
    margin-right: 16px;
}

.about__info-my-info-label+span {
    color: #B5B5B5;
}

.about__img {
    border-radius: 50%;
    border: 3px solid #3F1D39;
}

.about__img-my-img {
    width: 100%;
    border-radius: 50%;
}

.about__info-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.about__info-footer-btn-download {
    margin: 0 184px 0 190px;
    width: 200px;
}

.about__info-social-network {}

.social-network-link {
    text-decoration: none;
    margin: 0 6px;
    display: inline-block;
}

.social-network-link:hover .social-icon {
    background-color: var(--white-color);
    color: black;
    border: var(--white-color);
}

.social-icon {
    font-size: 22px;
    color: var(--white-color);
    border: 1px solid var(--border-btn-color);
    padding: 6px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* End about */


/* Start service */

.service__list {
    width: 80%;
    margin: 0 178px;
}

.service__item {
    width: calc(90% / 3);
    height: ;
    color: var(--white-color);
    float: left;
    position: relative;
    margin: 40px 10px;
    border: 1px solid var(--border-btn-color);
    padding: 20px;
}

.service__item-img {
    width: 100%;
    text-align: center;
    margin: 36px 0;
}

.service__item-icon {
    font-size: 72px;
}

.service__item-info {
    margin: 10px 20px;
}

.service__item-title {
    font-size: 26px;
    margin-bottom: 16px;
}

.service__item-desc {
    font-size: 18px;
    line-height: 22px;
    color: #B5B5B5;
    min-height: 80px;
    text-align: left;
}


/* End service */