@media (max-width: 739px) {
    #main {}
    #header {
        overflow: hidden;
    }
    .header__navbar {
        display: block;
    }
    .header__my-name {
        margin: 0;
    }
    .header__my-name-link {
        margin-left: 70px;
    }
    .header__navbar--item {
        display: block;
        text-align: left;
    }
    .menu-icon-btn {
        margin: 0 20px;
        display: inline-block;
    }
    .content__selection {
        padding: 74px 0 20px 0;
    }
    /* About mobile */
    .about__content {
        margin: 0 20px 10px;
    }
    .about__info-content {
        color: var(--white-color);
        display: block;
        margin: 38px 36px 38px;
    }
    .content__selection-heading {
        margin-bottom: 74px;
    }
    .content__selection-title-background {
        font-size: 60px;
    }
    .content__selection-title {
        font-size: 38px;
    }
    .about__info-content-left {
        display: block;
    }
    .about__info-body-desc {
        text-align: justify;
    }
    .about__info-my-info-box {
        width: 100%;
    }
    .about__info-content-right {
        display: block;
    }
    .about__info-footer {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        flex-direction: column;
    }
    .about__info-footer-btn-download {
        margin: auto;
    }
    .about__info-social-network {
        margin-top: 38px;
    }
    .social-network-link {
        margin: 0 5px;
    }
    /* End about */
    /* Start Service */
    .content-list {
        margin: auto;
    }
    .s-col-full {
        width: 100%!important;
    }
    .s-col-half {
        width: 50%;
    }
    .s-m-auto {
        margin: auto;
    }
    .s-mbt-10 {
        margin-bottom: 10px;
    }
    /* End service */
    /* Start portfolio */
    .portfolio__content {
        /* display: block;  */
        margin: 0 20px 10px;
    }
    .education__progress--info {
        display: block;
    }
    .resume__content {
        margin: 0 20px 10px;
    }
    .education__progress-more .education__progress--content {
        flex-direction: column;
    }
    .content__selection-title-background-text {}
    /* End portfolio */
    .contact__content {
        padding-bottom: 0;
    }
    .contact__body-item {
        display: block;
    }
    .contact__footer-desc {
        margin: auto 30px;
        text-align: center;
    }
    /* Start contact */
    .content__list-item-img {
        margin-left: 0;
    }
    .content__list-item-info {
        margin-left: 12px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .content-list {
        margin: 40px 60px;
    }
    #header {
        display: flex;
    }
    .header__my-name {
        margin: 0;
    }
    .header__navbar--item {
        margin: 0 10px;
    }
    .about__info-content {
        display: block;
    }
    .about__info-body-desc {
        text-align: justify;
    }
    .about__info-footer {
        display: block;
        text-align: center;
    }
    .about__info-social-network {
        margin: 40px 0;
    }
    .about__service>.content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .m-col-half {
        width: 45% !important;
    }
    .contact__body-item {
        display: block;
    }
    .contact__body-item>.contact__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%!important;
        margin: 0;
    }
    .contact-form {
        display: block;
    }
}